.product {
  color: black;
  background-color: #D34735;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.product-info {
  grid-column: span 1;
}
.product-image {
  height: 150px;
  width: 250px;
  background-size: cover;
  grid-column: span 1;
}
.product button {
  border: none;
  background-color: #3AD886;
}