.form {
  color: black;
  background-color: #3AD886;
  height: 500px;
}
.form input,button {
  margin: 10px;
}
.form input {
  display: block;
  width: 90%;
}
.form button {
  background-color: #ED6B5A;
  border: none;
}
.form-buttons {
  display: flex;
  justify-content: space-between;
}
.form img {
  display: block;
  width: 90%;
  height: 40%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e1/Stop-alt.svg");
  background-size: cover;
}
.dead-button {
  display: none;
}