.form {
  color: black;
  background-color: #3AD886;
  height: 500px;
}
.form input,button {
  margin: 10px;
}
.form input {
  display: block;
  width: 90%;
}
.form-buttons {
  display: flex;
  justify-content: space-between;
}
.form img {
  display: block;
  width: 90%;
  height: 40%;
}
.dead-button {
  display: none;
}