.form {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: #3AD886;
  height: 230px;
}
.form input,button {
  margin: 10px;
}
.form input {
  display: block;
  width: 90%;
}
.form button {
  background-color: #ED6B5A;
  border: none;
}
.form-buttons {
  display: flex;
  justify-content: space-between;
}