.product,.form,button{
  padding: 5px;
  border-radius: 5px;
}
button {
  background-color: #ED6B5A;
  border: none;
}
.form,.dashboard,.product {
  width: 500px;
  margin: 10px auto;
}
button:hover {
  cursor: pointer;
}